@import "../themes/terminimal/sass/style.scss";

.container {
    max-width: 95% !important;
}

details summary {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 3px;
}
